body {
    height: 200vh;
    margin: 0;
    padding-top: 5em;
}
/*Header Start*/
header {
    background-image: url(./img/header.jpeg);
    height: 5em;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: background-color 0.4s ease-in-out;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    margin: 1em;
    transition: color 0.4s ease-in-out;
}
button {
    border-radius: 50px;
    
}
/*Slogan Start*/
.slogan {
    display: flex;
    background-image: url(img/header.jpeg);
    width: 100%;
    height: auto;
}
.yazi {
    width: 28%;
    margin-left: 10px;
    color: white;
}
/*Trendler Start*/
.trend {
    margin: 30px 5px 10px 5px;
}
.baslik {
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.col {
    display: flex;
}
.sayi {
    margin-right: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(152, 152, 152);
}
.konum {
    display: flex;
}
.konum a {
    color: black;
}
/*Section Start*/
.a {
    display: flex;
    margin: 20px 10px 20px 10px;
}
.d {
    display: flex;
}
.d a {
    color: black;
    text-decoration: none;
}
/*Footer Start*/
footer {
    background-image: url(img/header.jpeg);
    height: 90px;
}
.yardim {
   margin: 10px 20px 10px 20px;
}
.yardim a {
   color: white;
   text-decoration: none;
   margin-right: 10px;
}